* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #f5f8fc;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  height: 100vh;
  background: var(--backgroundColor);
  display: flex;
}

.container {
  border-radius: 20px;
  padding: 15px;
  background-color: var(--backgroundColor);
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.main-container {
  background: linear-gradient(rgba(111, 105, 111, 0.8),rgba(198, 198, 243, 0.5)),url(Image/pokeball.jpg);
  background-size: cover;
  padding: 1.3rem;
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
}

/* Dropdown Container Styles */
.dropdown {
  position: inherit;
}

/* Dropdown Button Styles */
.dropbtn {
  background-color: #000000;
  color: var(--white);
  height: 50px;
  width: 160px;
  border: none;
}

/* Dropdown Content Styles */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border-top: 1px solid var(--white);
  max-height: 450px;
  overflow-y: auto;
}

/* Dropdown Links Styles */
.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #e0e0e0;
  color: var(--black);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  background-color: #2b2b2b;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--black);
}

/* Pokemon Details Style */
#pokemon-container {
  width: 320px;
  height: 100%;
  margin-left: 200px;
  padding: 0 1em;
  text-align: center;
  bottom: 0;
  margin-bottom: 0;
}

.pokemon-info-container {
  margin-top: 6vh;
  height: 100%;
}

.pokemon-image {
  object-fit: contain;
  image-rendering: pixelated;
  height: 120px;
  width: 120px;
}

.pokemon-name {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.p-info {
  margin: 15px;
}

.info {
  background-color: #eaecec;
  text-align: center;
  border: 2px solid #dce2e3;
}

.span-empty {
  font-size: 18px !important;
}

/* For Tablet (768px) */
@media only screen and (max-width: 768px) {
  .main-container {
    width: 90%;
    padding: 1rem;
    justify-content: space-between;
  }

  .dropdown-content {
    max-height: 490px;
  }

  #pokemon-container {
    margin-left: 20px;
  }
}

/* For Mobile (480px) */
@media only screen and (max-width: 480px) {
  .main-container {
    width: 80%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dropdown-content {
    max-height: 420px;
  }

  #pokemon-container {
    width: 90%;
    margin: 0;
    margin-top: 10px;
  }

  .details-container {
    font-size: 12px;
  }
}